html {
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.menu {
  display: flex;
  height: 72px;
  padding: 0 24px;
  justify-content: space-between;
}

.icon {
  color: #acb7c3;
  width: 45px;
}

body {
  background: #191765 url(/assets/images/Ellipse\ 18.svg) 0% 10% no-repeat;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.nav-div {
  margin-bottom: 10rem;
  margin-top: 1.5rem;
  color: #edecff;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

h1 {
  color: #7d73fc;
  font-size: 48px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

h2 {
  color: #edecff;
  margin: 0 10px;
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 500;
  padding: 28px 0;
  text-align: center;
  border-bottom: 1px solid gray;
}

.first-text {
  color: #c8c8d4;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-content: center;
  font-family: "Roboto", sans-serif;
  padding: 28px 12px;
  border-bottom: 1px solid gray;
  margin: 0 8px;
}

.list .a-title {
  color: #9490ff;
}

.list-head {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.2rem;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid gray;
  background: #191765 url(/assets/images/Ellipse\ 19.svg) 100% 20% no-repeat;
}

a {
  text-decoration: none;
}

footer a {
  padding: 0 10px;
}

footer ul {
  display: flex;
}

.logo-cloud ul {
  padding: 0;
  width: 100%;
  justify-content: center;
  margin-top: 35px;
}

.list a {
  color: #f5f5ff;
}

.linked {
  width: 21px;
}

li {
  margin-bottom: 1.3rem;
}

li:hover {
  text-decoration: underline;
}

footer div {
  display: flex;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

footer div:hover {
  text-decoration: underline;
}

.text-w a {
  color: honeydew;
  margin: 0 auto;
}

.work-sect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 28px;
  background: #191765 url(/assets/images/imagen-blanca.png) 30% 30% no-repeat;
  padding: 0 10px;
}

h3 {
  font-size: 32px;
  padding: 28px 0;
  color: white;
}

.card-image {
  height: 236px;
  width: 327px;
}

p {
  line-height: 28px;
  color: #dcdce8;
  margin: 24px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: start;
  margin: 0;
  padding: 0;
}

.grid-container li {
  padding: 6px 16px;
  color: whitesmoke;
  font-size: 16px;
}

.border1 {
  border-right: 2px solid grey;
  border-left: 2px solid grey;
}

.border2 {
  border-right: 2px solid grey;
}

.btn {
  align-self: flex-start;
  background-color: #7d73fc;
  color: #edecff;
  padding: 12px;
  height: 68px;
  width: 120px;
  font-size: 15px;
  font-weight: bold;
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.btn:active {
  background: #5e42d7;
}

.contact-section {
  justify-content: center;
  border-bottom: 2px solid #3a3837;
}

h4 {
  color: #9390ff;
  font-weight: 500;
  font-size: 38px;
  display: flex;
  justify-content: center;
}

h5 {
  font-weight: 500;
  font-size: 15px;
}

.contact-text {
  color: #f5f5ff;
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin: 0 24px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-text {
  color: #81818c;
  font-size: 20px;
  line-height: 24px;
  padding: 15px 16px;
  width: 327px;
  margin-top: 40px;
  margin-left: 24px;
  margin-right: 24px;
  height: 48px;
}

.form-email {
  color: #191765;
  font-size: 20px;
  line-height: 24px;
  padding: 15px 16px;
  width: 327px;
  margin-top: 24px;
  height: 48px;
}

.form-email::placeholder {
  color: #191765;
}

.form-btn {
  background-color: #7d73fc;
  color: #edecff;
  padding: 12px;
  margin-top: 50px;
  margin-bottom: 70px;
  height: 68px;
  width: 120px;
  font-size: 15px;
  font-weight: bold;
}

.text-area-color {
  color: #81818c;
  font-size: 20px;
  line-height: 24px;
  padding: 12px;
  width: 327px;
  margin-top: 24px;
  height: 148px;
}

.final {
  display: flex;
  justify-content: center;
  margin-top: -47px;
  color: #ebebff;
  font-size: 28px;
}
